<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t(".content",
    link1: link_to(t(".tutorial"), "http://www.railstutorial.org/"),
    link2: link_to(t(".book"), "http://www.railstutorial.org/book"),
    link3: link_to(t(".screen"), "http://screencasts.railstutorial.org/"),
    link4: link_to(t(".ror"), "http://rubyonrails.org/")).html_safe %>
</p>
