<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t(".content", link1: link_to(t(".tutorial"),
    "http://www.railstutorial.org/help"), link2: link_to(t(".rubyonrails"),
    "http://www.railstutorial.org/book")).html_safe %>
</p>
