<footer class="footer">
  <small>
    <%= t(".content",
      link1: link_to(t(".tutorial"), "http://www.railstutorial.org/"),
      link2: link_to(t(".name"), "http://www.michaelhartl.com/")).html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
